<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/descubridores.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Reaperwiki</title>
</head>
<body>
    <!-- HEADER y navbar-->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Reaper wiki</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../index.html">General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/sabermas.html">dinosaurios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="descubridores.html">descubrimientos</a>
              </li>
              <li>
                <a class="nav-link" href="../views/registarse.html" target="_blank">registarse</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h1>Descubrimientos</h1>
       
</header>

<!-- articulo de william -->
   <main>
      <article>
        <header>         
          <h2 class="titulo">William Buckland</h2>
          <img src="../imagenes/william buckland.jpg" alt="william" class="img">
            <p>William buckland fue un geólogo y paleontólogo británico. En 1824, buckland publicó una descripción del megalosaurus, basándose en fragmentos de mandíbula y otros restos fósiles encontrados en stonesfield, Inglaterra. Este Descubrimiento marco el inicio de la paleontología de dinosaurios como una ciencia reconocida.</p>         
           </header>
      </article>

   </main>
<!-- articulo de Owen-->
<main>
  <aside>   
    <h2 class="titulo">SIN EMBARGO!</h2>
    <img src="../imagenes/owen.jpg" alt="owen" class="img">
      <p>Debemos la palabra dinosaurio a Richard Owen (1804-1892), un clérigo e investigador británico que en 1842 acuñó al termino para describir 3 reptiles (megalosaurus, iguaradon e leosaurus). Estos eran los bastante distintos de los demás como para incluirlos en un grupo propio. De este modo, dio inicio al estudio de clasificación de los dinosaurios. Se los agrupó mediante el sistema taxonómico ideado por Carl Evonne Line (1707-1778), Quien desarrollo un conjunto de reglas para que clasificar todos los seres vivos. Este sistema estaba organizado en una serie de categorías, que a su vez formaban parte de otras más amplias, y éstas de otras aún mayores.</p>    
    </aside>
</main>

<!-- estilo e la navbar-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
</body>
</html>